/Guia 10/CollectionsEj1/nbproject/private/
/Guia 10/Guia10-Ej01/nbproject/private/
/Guia 10/Guia10-Ej01-02/nbproject/private/
/Guia 10/Encuentro 34-42/Guia10-Ej03/nbproject/private/
/Guia 10/Encuentro 34-42/Guia10-Ej01-02/nbproject/private/
/Guia 10/Encuentro 34-42/Guia10-Ej01-02/build/
/Guia 10/Encuentro 34-42/Guia10-Ej03/build/
/Guia 10/Encuentro 34-42/Guia10-Ej04/nbproject/private/